@import "../../../styles/variables.scss";

.input-wrapper {
  color: $text-color;
  font-size: 16px;
  text-align: start;

  .input-content {
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 10px;

    .icon {
      padding: 12px;
      background-color: $primary-color;
      border-radius: 0 8px 8px 0;

      img {
        height: 20px;
        
      }
    }

    input {
      border: none;
      border-radius: 8px 0 0 8px;
      background: $gray-secondary-bg;
      padding: 12px 0 12px 20px;
      width: 100%;
    }
  }
}
