<app-default-login-layout
  title="Sign in and start today!"
  primaryBtnText="Signup Now"
  secondaryBtnText="Login Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
    formControlName="name"
    type="text"
    inputName="name"
    label="Name"
    placeholder="Digite o seu nome"
    >
      <img src="../../../assets/svg/email-icon.svg" alt="Email icon" />
    </app-primary-input>

    <app-primary-input
    formControlName="email"
    type="email"
    inputName="email"
    label="Email Adress"
    placeholder="Digite o seu email"
    >
      <img src="../../../assets/svg/email-icon.svg" alt="Email icon" />
    </app-primary-input>

    <app-primary-input
    formControlName="password"
    type="password"
    inputName="password"
    label="Password"
      placeholder="Digite a sua password"
    >
      <img src="../../../assets/svg/password-icon.svg" alt="Password icon" />
    </app-primary-input>

        <app-primary-input
    formControlName="passwordConfirm"
    type="password"
    inputName="passwordConfirm"
    label="Confirm your Password"
      placeholder="Digite a sua password"
    >
      <img src="../../../assets/svg/password-icon.svg" alt="Password icon" />
    </app-primary-input>

  </form>
</app-default-login-layout>
