<main>
  <section class="form-section">
    <img src="/assets/svg/logo.svg" alt="Logo do site" />
    <h2>{{ title }}</h2>

    <!-- injeta o form no login -->
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button
      class="btn-primary" 
      (click)="submit()"
      [disabled]="disablePrimaryBtn"

      >{{ primaryBtnText }}</button>
      <div class="divider">
        <div></div>
        <span>OR</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
    </div>
  </section>

  <section class="main-section">
    <h1>You Should, MoveIt!</h1>
    <img src="/assets/svg/main-illustration.svg" alt="Ilustração do site" />
  </section>
</main>
