<app-default-login-layout
  title="Login into your account"
  primaryBtnText="Login Now"
  secondaryBtnText="Signup Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
    formControlName="email"
    type="email"
    inputName="email"
    label="Email Adress"
    placeholder="Digite o seu email"
    >
      <img src="../../../assets/svg/email-icon.svg" />

    </app-primary-input>

    <app-primary-input
    formControlName="password"
    type="password"
    inputName="password"
    label="Password"
      placeholder="Digite a sua password"
    >
      <img src="../../../assets/svg/password-icon.svg" />
    </app-primary-input>
    <span>Forgot password?</span>
  </form>
</app-default-login-layout>
